/*
 * Typography
 */

:root {
	/* System font stacks swiped from https://systemfontstack.com/ */
	--font-family-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir,
		segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial,
		sans-serif;
	--font-family-serif: Iowan Old Style, Apple Garamond, Baskerville,
		Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--font-family-monospace: Menlo, Consolas, Monaco, Liberation Mono,
		Lucida Console, monospace;
}

/*
 * Color
 */

:root {
	--color-background: #ffffff;
	--color-background-muted: #efefef;
	--color-image-background: #ffffff;
	--color-active: #007aff;
	--color-visited: #9000ff;
	--color-border: #cccccc;
	--color-text-display: #000000;
	--color-text-body: #333333;
}

/**
 * Dark mode
 */

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #1f1f1f;
		--color-background-muted: #333333;
		--color-image-background: #ffffff; /* Image backgrounds won't change */
		--color-active: #3791ff;
		--color-visited: #cd76f8;
		--color-border: #666666;
		--color-text-display: #ffffff;
		--color-text-body: #dddddd;
	}
}

/*
 * Global
 */

* {
	box-sizing: border-box;
}

body,
html {
	font-family: var(--font-family-serif);
	color: var(--color-text-body);
	background: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-text-display);
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-active);
}

a:visited {
	color: var(--color-visited);
}

/*
 * Input styles
 */

.input-containers {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 0.5rem;
}

.input-container {
	width: 100%;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.25rem 0.5rem;
}

.input-container input[type="range"] {
	flex-shrink: 1;
	flex-grow: 1;
	width: 0;
}

.input-container span {
	flex-shrink: 0;
}

/*
 * Page container
 */

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-container {
	width: 100%;
	max-width: 32rem;
	padding: 1rem;
}

/*
 * FAQ
 */

details > :last-child {
	padding-bottom: 12px;
}

details summary {
	padding-top: 6px;
	padding-bottom: 6px;
	cursor: pointer;
}

details summary:hover {
	color: var(--color-active);
}

/*
 * Character art
 */

.file-input-container {
	display: flex;
	flex-direction: column;
}

#image-input {
	width: 100%;
	height: 100%;
	padding: 1rem;
	border-radius: 8px;
	background: var(--color-background-muted);
	cursor: pointer;
}

#image-input.drag-active {
	outline: 2px solid var(--color-active);
}

/*
 * Paper miniature
 */

#layout-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 400px;
	position: relative;
	border: 1px solid var(--color-border);
	border-radius: 8px;
	padding: 1rem;
	background: var(--color-image-background);
}

#layout-container svg {
	width: 100%;
	height: auto;
}

.copy-and-download-container {
	display: flex;
	gap: 1rem;
	padding: 0.5rem 0;
	align-items: center;
	justify-content: center;
}

#copy-svg-button {
	cursor: pointer;
}

#download-svg-link.disabled {
	opacity: 0.5;
	pointer-events: none;
}

/*
 * Silhouette tweaks
 */

.silhouette-preview-container {
	position: relative;
	width: 100%;
	height: 400px;
	border: 1px solid var(--color-border);
	border-radius: 8px;
	background: var(--color-image-background);
}

.image-container-raw {
	width: 160px;
	height: 160px;
	position: absolute;
	top: 8px;
	left: 8px;
}

.image-container-raw img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.image-container-processed {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	mix-blend-mode: multiply;
	opacity: 0.3;
}

.image-container-traced {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
