/* GLOBAL */

* {
	box-sizing: border-box;
}

/* ... */

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-container {
	width: 100%;
	max-width: 30em;
	padding: 1rem;
}

.file-input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #efefef;
	padding: 1rem;
	border-radius: 8px;
}

#layout-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 1rem;
}

.copy-and-download-container {
	display: flex;
	gap: 1rem;
	padding: 0.5rem 0;
	align-items: center;
	justify-content: center;
}

/* SILHOUETTE */

.silhouette-preview-container {
	position: relative;
	width: 100%;
	height: 450px;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.image-container-raw {
	width: 160px;
	height: 160px;
	position: absolute;
	top: 8px;
	left: 8px;
}

.image-container-raw img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.image-container-processed {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	mix-blend-mode: multiply;
	opacity: 0.3;
}

.image-container-traced {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* INPUTS */

.input-containers {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 0.5rem;
}

.input-container {
	width: 100%;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.25rem 0.5rem;
}

.input-container input[type="range"] {
	flex-shrink: 1;
	flex-grow: 1;
	width: 0;
}

.input-container span {
	flex-shrink: 0;
}

/* LAYOUT TWEAKS */

.layout-tweaks-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 450px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 8px;
	position: relative;
}

#offset-svg {
	position: absolute;
	border: 1px solid magenta;
	transform: scale(0.5, 0.5);
}

#arrange-container {
	position: absolute;
	border: 1px solid magenta;
	transform: scale(0.75, 0.75);
}
