body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-container {
	width: 100%;
	max-width: 30em;
	padding: 1rem;
}

.file-input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #efefef;
	padding: 1rem;
	border-radius: 8px;
}

.raw-image-container {
	width: 400px;
	height: 400px;
}

.raw-image-container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.processed-image-container {
	width: 450px;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.note {
	font-style: italic;
	max-width: 30em;
	margin: 0 auto;
	text-align: center;
}
